In [1]:
import pandas as pd

In [6]:
df_mean_PP = pd.read_csv("/home/xavier/Documents/research/FORMANRISK/analyse/forman_cavit/output/table/df_mean_PP.csv", index_col =0)

In [7]:
df_mean_PP.head()

,Species,site,P50_mean,P12_mean,P88_mean,slope_mean,Kmax_mean,x_mean,y_mean,Tmean_annual_mean,...,P_annual_std,P_wettestM_std,P_driestM_std,P_seasonality_std,P_wettestQ_std,P_driestQ_std,P_warmestQ_std,P_coldestQ_std,elevation.m._std,counts
0,pinus pinaster,biscarrosse,-3.800400,-2.906633,-4.694166,63.426298,0.000696,-1.214909,44.452357,129,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25
1,pinus pinaster,cerbere,-3.701581,-3.268146,-4.135016,126.341904,0.000314,3.132536,42.440112,140,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25
2,pinus pinaster,ceret,-3.650272,-2.972248,-4.328296,87.836915,0.000523,2.756141,42.502796,149,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,26
3,pinus pinaster,hourtin,-3.875333,-3.327362,-4.423304,101.444291,0.000659,-1.158748,45.176669,128,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,30
4,pinus pinaster,la teste,-3.708042,-2.994793,-4.421292,78.003058,0.000510,-1.207010,44.558047,128,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,26

In [8]:
df_PP = pd.read_csv("/home/xavier/Documents/research/FORMANRISK/analyse/forman_cavit/output/table/df_PP.csv", index_col =0)

In [9]:
df_PP.head()

,Species,site,Treatment,P50,P12,P88,slope,Kmax,P50e,P12e,...,P_coldestQ,Country,elevation.m.,species_2,sapling.age.yr..height.m.,adult.age.yr..height.m.,sampling.dates,person.in.charge,email,info
0,pinus pinaster,biscarrosse,adult,-3.818704,-3.358275,-4.279133,108.594361,0.000249,NaN,NaN,...,348,France,25,Pinus pinaster,5,25,14/09/20,Cyrille LeBihan,cyrille.lebihan@onf.fr,NaN
1,pinus pinaster,biscarrosse,adult,-3.855426,-3.378376,-4.332476,104.810817,0.001174,NaN,NaN,...,348,France,25,Pinus pinaster,5,25,14/09/20,Cyrille LeBihan,cyrille.lebihan@onf.fr,NaN
2,pinus pinaster,biscarrosse,adult,-3.198479,-1.852982,-4.543976,37.160995,0.000166,NaN,NaN,...,348,France,25,Pinus pinaster,5,25,14/09/20,Cyrille LeBihan,cyrille.lebihan@onf.fr,NaN
3,pinus pinaster,biscarrosse,adult,-3.969812,-3.138009,-4.801616,60.110348,0.000649,NaN,NaN,...,348,France,25,Pinus pinaster,5,25,14/09/20,Cyrille LeBihan,cyrille.lebihan@onf.fr,NaN
4,pinus pinaster,biscarrosse,adult,-3.690672,-2.621588,-4.759757,46.769004,0.000316,NaN,NaN,...,348,France,25,Pinus pinaster,5,25,14/09/20,Cyrille LeBihan,cyrille.lebihan@onf.fr,NaN

In [ ]:
import rpy2.robjects as ro
from rpy2.robjects.packages import importr
from rpy2.robjects import pandas2ri

from rpy2.robjects.packages import importr
from rpy2.robjects import r, pandas2ri

base = importr('base') 
stats = importr('stats')
graphics = importr('graphics')
utils = importr('utils')
ade4 = importr('ade4')

from rpy2.robjects.conversion import localconverter

import rpy2.ipython.html
rpy2.ipython.html.init_printing()

# Rpy2

In [ ]:
import rpy2.robjects as ro
from rpy2.robjects.packages import importr
from rpy2.robjects import pandas2ri

from rpy2.robjects.packages import importr
from rpy2.robjects import r, pandas2ri

base = importr('base') 
stats = importr('stats')
graphics = importr('graphics')
utils = importr('utils')
ade4 = importr('ade4')
nlme = importr('nlme')
lme4 = importr('lme4')
lmertest = importr('lmerTest')


from rpy2.robjects.conversion import localconverter

import rpy2.ipython.html
rpy2.ipython.html.init_printing()

In [ ]:
with localconverter(ro.default_converter + pandas2ri.converter):
    r_from_pd_df = ro.conversion.py2rpy(df_mean_pp[[v +'_mean' for v in values]])

base.dim(r_from_pd_df)

In [ ]:
r_from_pd_df.rownames
ro.StrVector(df_mean_pp.site)

In [ ]:
r_from_pd_df.rownames = ro.StrVector(df_mean_pp.site)

In [ ]:
ro.StrVector(df_mean_pp.site)

In [ ]:
pca = ade4.dudi_pca(r_from_pd_df, scannf = False, nf = 5) 

ade4.scatter(pca, label = ro.StrVector(df_mean_pp.site))
# ade4.s_label(pca[7], label = ro.StrVector(df_mean_pp_T.site))
# ade4.s_label(pca[8], label = ro.StrVector(df_mean_pp_T.columns), add_plot = True)

### model

In [ ]:
with localconverter(ro.default_converter + pandas2ri.converter):
    r_df = ro.conversion.py2rpy(df_pp.drop(columns = 'info'))
base.dim(r_df)

In [ ]:
df_pp.iloc[:,bio_index]

In [ ]:
with localconverter(ro.default_converter + pandas2ri.converter):
    r_df_bio = ro.conversion.py2rpy(df_pp.drop(columns = 'info').iloc[:,bio_index])
base.dim(r_df_bio)

In [ ]:
ro.IntVector(bio_index)

In [ ]:
r_df.colnames

In [ ]:
pca = ade4.dudi_pca(r_df_bio, scannf = False, nf = 5) 
ade4.scatter(pca)

In [ ]:
pca[7]

In [ ]:
from rpy2.robjects.lib.dplyr import DataFrame
dataf = (
    DataFrame(r_df)
    .mutate(pca1=pca[7][0])
    .mutate(pca2=pca[7][1])
)

In [ ]:
r_df

# test with R magic

In [ ]:
from rpy2.robjects.packages import importr
utils = importr('utils')

dataf = utils.read_csv('https://raw.githubusercontent.com/jakevdp/PythonDataScienceHandbook/'
                       'master/notebooks/data/california_cities.csv')

In [ ]:
%load_ext rpy2.ipython

In [ ]:
%%R -i dataf

require(tidyverse)
require(dplyr)
glimpse(dataf)

In [ ]:
%%R -w 800 --type=cairo

cat("Running an R code cell.\n")

p <- ggplot(dataf) +
     aes(x=longd,
         y=latd,
         color=population_total,
         size=area_total_km2) +
     geom_point(alpha=0.5) +
     scale_x_continuous('Longitude') +
     scale_y_continuous('Latitude') +
     scale_size(range=c(1, 18)) +
     scale_color_continuous(trans='log10') +
     ggtitle('California Cities: Area and Population') +
     theme_light(base_size=16)
print(p)